/* A Free Design by Bryant Smith (bryantsmith.com) */



body {
    margin: 0;
	padding: 0;
	text-align: left;
	font: 12px Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #061C37;
	background: #EEEFE4;
    background-image:url(/static/images/background.png);
	background-repeat:repeat-x;
}

* {
    margin: 0 auto 0 auto;
    text-align:left;
}

a:visited, a:link{
    text-decoration:none;
    color: #0000FF;
}

#nav, #nav a {
    font-size:90%;
    color: white;

}

a:hover, a:active {
    text-decoration:underline;
}

#container {
    display: block;
    height:auto;
    position: relative;
    width: 960px;
}

#header {
    height:85px;
    width:960px;
}

#header h1 {
	position:absolute;
    text-align:left;
    color:#FFFFFF;
    font-size:43px;
    color:#FFF;
    left:14px;
    top:18px;
}


#header h2 {
    position:absolute;
    text-align:right;
    color:#A9D1FA;
    left:490px;
    top:38px;
    width:400px;
}

#mainpic {
    background-image:url(/static/images/main.jpg);
    background-repeat:no-repeat;
    width:900px;
    height:354px;
}



.off {
    color:#67A0F5;
}


#menu {
    display:block;
    float:left;
    clear:both;
    width:960px;
    height:54px;
    float:left;
    clear:both;
}

#leftmenu {
    margin-top:15px;
    width:204px;
    float:left;
}

#leftmenu_top {
    width:204px;
    height:14px;
    background-image:url(/static/images/leftmenu_top.png);
}

#leftmenu_bottom {
    width:204px;
    height:14px;
    background-image:url(/static/images/leftmenu_bottom.png);
}

#leftmenu_main {
    width:204px;
    height:auto;
    background-color:#1C478E;
}

#leftmenu_main ul {
    list-style: none;
    padding: 0px;
    width:204px;
}

#leftmenu_main h3
{
    list-style: none;
    padding: 0px;
    width:204px;
    color:#FFFFFF;
    padding-left:10px;
    padding-bottom:14px;
}

#leftmenu_main ul li
{
list-style: none;
padding: 0px;
width:204px;
text-align:left;
}

#leftmenu_main ul li a, #leftmenu_main ul li a:visited
{
	display:block;
list-style: none;
padding: 0px;
width:192px;
padding-left:12px;
padding-top:4px;
height:30px;
text-align:left;
background-image:url(/static/images/leftmenu_link.png);
background-repeat:repeat-x;
margin-top:5px;
color:#FFFFFF;
text-decoration:none;
font-size:15px;
font-weight:bold;
}

#leftmenu_main ul li a:hover
{
color:#87BCF8;
	
	
}




#content
{
display:block;
float:left;
width:689px;
height:auto;
padding-left:10px;
padding-top:15px;
padding-right:10px;
padding-bottom:5px;
}


#content_top
{
	background-image:url(/static/images/main_top.png);
	background-repeat:no-repeat;
	width:689px;
	height:25px;
}

#content_main
{
background-image:url(/static/images/main_back.png);
background-repeat:repeat-y;
width:659px;
padding-left:15px;
padding-right:15px;
}

#content_bottom
{
background-image:url(/static/images/main_bottom.png);
background-repeat:no-repeat;
width:689px;
height:25px;
}


.errorlist {
   color: red;
}

input[type=text], input[type=password], textarea, select {
   color: #5a5854;
   background-color: #f2f2f2;
   border: 1px solid #bdbdbd;
   border-radius: 5px;
   padding: 5px 5px 5px 5px;
   background-repeat: no-repeat;
   background-position: 8px 9px;
   display: block;
   margin-bottom: 5px;
}
input[type=text]:focus, input[type=text]:hover,
input[type=password]:focus, input[type=password]:hover, select:hover {
   background-color: #ffffff;
   border: 1px solid #b1e1e4;
}
input[type=button], input[type=submit]{
   color: #444444;
   padding: 2px 2px 2px 2px;
}

#messages {
   left: 710px;
   width: 250px;
   /*min-height: 100px;*/
   background-color: black;
   color: white;
   position: fixed;
   /*float: right;*/
   padding: 10px;
   text-align: center;
   vertical-align: middle;
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   display: none;
}

#footer
{
width:inherit;
height:auto;
}

#footer h3 a,#footer h3 a:visited
{
display:inline;
text-align:center;
font-size:12px;
text-decoration:none;
color:#7198E1;
}


#menu ul {
	list-style: none;
	padding: 0px;
	margin-left:auto;
	width:960px;
}

#menu li {
	list-style: none;
	padding: 0px;	
	display: inline; 
	
}

#menu a {
	float: left;
	height: 36px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	padding-top: 18px;
	font-size: 15px;
	padding-left:13px;
	padding-right:13px;
	
}

#menu a:hover{
	color:#86AEF9;
	background-image:url(/static/images/linkbackground.jpg);
	background-repeat:repeat-x;
}

#content p
{
	
}


html, body {
text-align: center;
}
p {text-align: left;}
