<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script src="/static/blog.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    {% if messages %}
        <script>
            $(document).ready(function(){
                $("#messages").show().delay(5000).hide(400);
            });
        </script>
    {% endif %}
    {% block js %}
    {% endblock %}
    <title>Andy's Blog - {% block title %}{% endblock %}</title>
</head>

<body>
<div id="container">
    <div id="header">
        <h1>Andy's <span class="off">Blog</span></h1>
            <!--<h2>A template by Bryant Smith</h2>-->
    </div>
        
    <div id="menu"></div>
        
        <div id="leftmenu">

            <div id="leftmenu_top"></div>

				<div id="leftmenu_main">    
                
                <h3>Links</h3>
                        
                <ul>
                    <li id="home"><a id="home_link" href={% url "home" %}>Home</a></li>
                    <li id="login"
                        {% if user.is_authenticated %}
                            style="display: none"
                        {% endif %}>
                        <a id="login_link" href="{% url "login" %}">Login</a></li>
                    <li id="register"
                        {% if user.is_authenticated %}
                            style="display: none"
                        {% endif %}>
                        <a id="register" href="{% url "register" %}">Register</a></li>
                    <li><a id="view_posts" href="{% url "view_posts" page_num="1" %}">View Posts</a></li>
                    <li id="create_post"
                        {% if not user.is_authenticated %}
                            style="display: none"
                        {% endif %}>
                    <a id="create_post_link" href="{% url "create_post" %}">Create Post</a></li>
                    <li id="logout_link"
                        {% if not user.is_authenticated %}
                            style="display: none;"
                    {% endif %}>
                    <a id="logout" href="{% url "logout" %}">Logout</a></li>
                </ul>

			    </div>
                
                
              <div id="leftmenu_bottom"></div>
        </div>
        
        
        
        
		<div id="content">
            <div id="nav">
                {% block nav %}<a href="{% url "home" %}">Home</a>{% endblock %}
                <br>
            </div>
            <div id="content_top"></div>
                <div id="content_main">
                    {% block content %}{% endblock %}
                </div>
            <div id="content_bottom"></div>
            
            <!--<div id="footer"><h3><a href="http://www.bryantsmith.com">florida web design</a></h3></div> -->
      </div>
   </div>
</div>
<div id="messages">
{% if messages %}
   {% for message in messages %}
      <p>{{ message }}</p>
   {% endfor %}
{% endif %}
</div>
</body>
</html>
