{% extends "base.html" %}
{% block title %}Create Post{% endblock %}
{% block nav %}
   <a href="{% url "home" %}">Home</a> &gt;
   <a href="{% url "create_post" %}">Create Post</a>
{% endblock %}
{% block content %}
{% if error %}
   <p style="color: red;">{{ error }}</p>
{% else %}
   <h2>Create Post</h2>
   {% if form.errors %}
      <p style="color: red;">
         Please correct the error{{ form.errors|pluralize }} below.
      </p>
   {% endif %}

   <form action="" method="post">{% csrf_token %}
      <table>
         {{ form.as_table }}
      </table>
      <input type="submit" value="Submit">
   </form>
{% endif %}
{% endblock %}