{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block nav %}
    <a href="{% url "home" %}">Home</a>
{% endblock %}
{% block content %}
    <h2>Welcome to my Blog</h2>
    <p>This is a demo blog site written in Django, and hosted on Google's App Engine.</p>
    <p>The source code for this will be hosted on GitHub shortly</p>
{% endblock %}