{% extends "base.html" %}
{% load tags %}
{% load markup %}
{% block title %}View Posts - Page {{ page_num }} of {{ max_page }}{% endblock %}
{% block nav %}
    <a href="{% url "home" %}">Home</a>
    {% ifnotequal request.path "/"  %}
        &gt;
        <a href="{% url "view_posts" page_num=page_num %}">View Posts - Page {{ page_num }} of {{ max_page }}</a>
    {% endifnotequal %}
{% endblock %}
{% block content %}
    <br>
    {% if posts %}
        <table>
        {% for post in posts %}
            <tr><td><b><a href="{% url "view_post" post_id=post.id %}">{{ post.title }}</a></b></td></tr>
            <tr><td>{{ post.body|truncatesmart|markdown }}</td></tr>
        {% endfor %}
        {% comment %}
        Display the pagination links providing that there is more than one page to display, otherwise
        display a message informing the user that there are no messages
        {% endcomment %}
        {% ifnotequal max_page 1 %}
            <tr><td>
            {% comment %}
            If page 1 is displayed, there are no later posts, so hide the later/latest pagination links
            {% endcomment %}
            {% ifnotequal page_num 1 %}
                <div style="float: left;">
                    <a href="{% url "view_posts" page_num=1 %}">Latest</a>&#160;&#160;
                    <a href="{% url "view_posts" page_num=page_num|add:"-1" %}">Later</a>
                </div>
            {% endifnotequal %}
            {% comment %}
            If the current page is the maximum page, then there are no earlier post to display - hide these links
            {% endcomment %}
            {% ifnotequal page_num max_page %}
                <div style="float: right;">
                    <a href="{% url "view_posts" page_num=page_num|add:"1" %}">Earlier</a>&#160;&#160;
                    <a href="{% url "view_posts" page_num=max_page %}">Earliest</a>
                </div>
            {% endifnotequal %}
            </td></tr>
        {% endifnotequal %}
        </td></tr>
        </table>
    {% else %}
        <h2><i>There are no posts to display</i></h2>
    {% endif %}

{% endblock %}