{% extends "base.html" %}
{% load markup %}
{% block title %}View Post: {{ post.title }}{% endblock %}
{% block nav %}
    <a href="{% url "home" %}">Home</a> &gt
    <a href="{% url "view_post" post_id=post.id %}">View Post '{{ post.title }}'</a>
{% endblock %}
{% block content %}
    <br>
    <h3>{{ post.title }}</h3>
    <hr>
    {{ post.body|markdown }}
    <hr>
    <span style="float: left;"><a id="show_comments" href="#">Show Comments</a></span>
    {% ifequal post.created_by user %}
        <span style="float: right;">
            <a id="delete_post" href="{% url "delete_post" post_id=post.id %}">Delete post</a>
        </span>
    {% endifequal %}
    <div id="comments" style="display: none;">
        <br>
        <h3>Comments:</h3>
        <table>
        {% for comment in post.comment_set.all %}
            <tr><td>{{ comment.created_by }} wrote: </td><td>{{ comment.body }}</td></tr>
        {% empty %}
            <tr><td><i>There are currently no comments to display</i></td></tr>
        {%  endfor %}
        </table>
        <br>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% else %}
            <b>Leave a comment:</b>
            {% if form.errors %}
                <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
                </p>
            {% endif %}

            <form action="" method="post">{% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Submit">
            </form>
        {% endif %}
    </div>
    <div id="dialog-confirm" style="display: none;" title="Delete Post?">
        <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;">
        </span>Are you sure you want to delete this post?</p>
   </div>
{% endblock %}